

config MODULE_CJSON_TEST_ENABLE
    bool "cJSON test enalbe"
    default n
    help
      Enable cJSON test.
    select MODULE_CJSON_ENABLE

menu "cjson_test config"
    depends on MODULE_CJSON_TEST_ENABLE

    config MODULE_CJSON_UNIT_TEST_ENABLE
      bool "enalbe cjson unit test"
      default n
      select MODULE_GTEST_ENABLE

    config MODULE_CJSON_UNIT_TEST_COVERAGE_STAT_ENABLE
      bool "enable cjson unit test coverage statistics"
      default n
      depends on MODULE_CJSON_UNIT_TEST_ENABLE
endmenu